In [1]:
import pandas as pd

In [2]:
#read in csv as data frame 
vine_df = pd.read_csv("vine_table.csv")
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R28HBXXO1UEVJT,5.0,0.0,0.0,N,N
1,RZKRFS2UUMFFU,5.0,15.0,15.0,N,Y
2,R2WAU9MD9K6JQA,3.0,6.0,8.0,N,N
3,R36SCTKYTVPZPC,5.0,10.0,11.0,N,Y
4,R10BM6JUOJX27Q,3.0,0.0,0.0,Y,N

In [5]:
#filter total votes columns to products that have greater than or equal 20 total votes
better_vine_table_df = vine_df[vine_df["total_votes"] >=20]
better_vine_table_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
16,R18VIM840CEFRP,1.0,16.0,105.0,N,N
21,R14PMAJTY0EAAT,4.0,135.0,142.0,N,Y
55,R1363VA3TPNLVB,5.0,370.0,388.0,N,Y
69,RBQZC5A3TSWT5,5.0,11.0,22.0,N,Y
76,RW00TDPV9U93E,1.0,35.0,76.0,N,N
...,...,...,...,...,...,...
6106689,R2I8MDN6WM5710,5.0,54.0,55.0,N,N
6106690,R1TV0M5MOW448J,5.0,43.0,48.0,N,N
6106701,R2AD5IDMI69FX0,5.0,21.0,29.0,N,Y
6106708,RI7PAHAEF7JTY,1.0,16.0,82.0,N,N
6106710,RDH0QQEAA7WEK,4.0,23.0,24.0,N,N

In [7]:
#helpful votes divided by total votes is greater than or equal to 50 percent 
better_helpful_votes_df = better_vine_table_df[better_vine_table_df["helpful_votes"] / better_vine_table_df["total_votes"] >= .5]
better_helpful_votes_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
21,R14PMAJTY0EAAT,4.0,135.0,142.0,N,Y
55,R1363VA3TPNLVB,5.0,370.0,388.0,N,Y
69,RBQZC5A3TSWT5,5.0,11.0,22.0,N,Y
79,R3OW0AIVLEDIQ7,3.0,99.0,121.0,N,N
91,R3DTESO4FUAPKQ,5.0,90.0,102.0,N,N
...,...,...,...,...,...,...
6106670,R2HVX86SCZGOUS,5.0,74.0,74.0,N,Y
6106689,R2I8MDN6WM5710,5.0,54.0,55.0,N,N
6106690,R1TV0M5MOW448J,5.0,43.0,48.0,N,N
6106701,R2AD5IDMI69FX0,5.0,21.0,29.0,N,Y
6106710,RDH0QQEAA7WEK,4.0,23.0,24.0,N,N

In [9]:
#paid reviews
paid_vine_df = better_helpful_votes_df[better_helpful_votes_df["vine"] == "Y"]
paid_vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
726,R2Z8083V8ZFQVZ,3.0,82.0,87.0,Y,N
1383,RK25TAO4GGS5G,3.0,22.0,24.0,Y,N
1552,R2SJQG3C6KY0M8,3.0,18.0,20.0,Y,N
3385,R12CHC0CB2WASU,5.0,43.0,48.0,Y,N
3942,R2RY328TIDXMTE,2.0,50.0,61.0,Y,N
...,...,...,...,...,...,...
4875385,R2GO4IWX9IBQF4,2.0,73.0,93.0,Y,N
4880660,R21C1MHB17TMOM,3.0,32.0,41.0,Y,N
4881396,R18XN1UF40RYJD,4.0,20.0,21.0,Y,N
4885002,RPBOGIOQH8C3A,5.0,19.0,21.0,Y,N
4929981,R2CYKBF8EVBPQE,3.0,84.0,94.0,Y,N

In [10]:
#unpaid reviews
unpaid_vine_df = better_helpful_votes_df[better_helpful_votes_df["vine"] == "N"]
unpaid_vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
21,R14PMAJTY0EAAT,4.0,135.0,142.0,N,Y
55,R1363VA3TPNLVB,5.0,370.0,388.0,N,Y
69,RBQZC5A3TSWT5,5.0,11.0,22.0,N,Y
79,R3OW0AIVLEDIQ7,3.0,99.0,121.0,N,N
91,R3DTESO4FUAPKQ,5.0,90.0,102.0,N,N
...,...,...,...,...,...,...
6106670,R2HVX86SCZGOUS,5.0,74.0,74.0,N,Y
6106689,R2I8MDN6WM5710,5.0,54.0,55.0,N,N
6106690,R1TV0M5MOW448J,5.0,43.0,48.0,N,N
6106701,R2AD5IDMI69FX0,5.0,21.0,29.0,N,Y
6106710,RDH0QQEAA7WEK,4.0,23.0,24.0,N,N

In [12]:
#total reviews
total_reviews = better_helpful_votes_df["review_id"].count()
total_reviews

337176

In [17]:
#total 5 star reviews
five_star_reviews_df = better_helpful_votes_df[better_helpful_votes_df["star_rating"] == 5.0]
total_five_star_reviews = five_star_reviews_df["star_rating"].count()
total_five_star_reviews

170404

In [22]:
#percentage of 5 star paid reviews
five_star_reviews_paid = paid_vine_df[paid_vine_df["star_rating"] == 5.0]["star_rating"].count()
per_five_star_reviews_paid = (five_star_reviews_paid / total_five_star_reviews)*100
per_five_star_reviews_paid

0.9412924579235229

In [25]:
#percentage of 5 star unpaid reviews
five_star_reviews_unpaid = unpaid_vine_df[unpaid_vine_df["star_rating"] == 5.0]["star_rating"].count()
per_five_star_reviews_unpaid = (five_star_reviews_unpaid / total_five_star_reviews)*100
per_five_star_reviews_unpaid

99.05870754207648